<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

 <session-factory >
<!-- <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
  <property name="hibernate.connection.password">BANANA</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost/EMCamera</property>
  <property name="hibernate.connection.username">root</property>
  
  
   -->
  
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="show_sql">true</property>
  <mapping resource="com/hgy/model/CClazz.hbm.xml"/>
  <mapping resource="com/hgy/model/Course.hbm.xml"/>
  <mapping resource="com/hgy/model/RollCall.hbm.xml"/>
  <mapping resource="com/hgy/model/User.hbm.xml"/>
  <mapping resource="com/hgy/model/Status.hbm.xml"/>
  <mapping resource="com/hgy/model/RollCallPhoto.hbm.xml"/>
  <mapping resource="com/hgy/model/PhotoResult.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
